html {
    font-family: verdana;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    margin-right: 15px;
    line-height: 32px;
}

input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid black;
}

input:hover{
    border: 6px solid grey;
}