
*{
    box-sizing:border-box;
}

$textcolor: rgb(165,197,90);
$backgroundcolor: rgb(228,236,182);
$hovercolor: whitesmoke;

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: $backgroundcolor;
    color: $textcolor;
    text-align: center;
    margin:0px;
    padding:0px;

    h1{
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    header{
        text-align: center;

        input {
            border: 9px solid $textcolor;
            padding:10px;
            margin:20px;
            background-color: transparent;
        }
        
        button.clear{
            background-color: transparent;
            border-radius: 100%;
            border-color: $textcolor;
            padding:10px;

            &:hover{
                border-color:$hovercolor;
                color:$hovercolor;
                transform: scale(1.2);
                transition: 0.2s;
            }
        }

        nav {
            input.radio {
                display:none;
            }

        button {
            align-items: center;
            border: $textcolor;
            background-color:transparent;
            color: $textcolor;
            font-family: 'Fjalla One', sans-serif;
            font-size:20px;
            margin:10px;
            padding:10px;
            
            &:hover {
                color:$hovercolor;
                transform: rotate(-20deg) scale(2.0);
                transition: 0.2s;
                border: 2px solid $hovercolor;
            }
        }   
    }
    }
    
    main{
        margin:10px;

        .container{
            position: relative;
            display: flex;

            .movie_list{
                position: relative;
                align-items: center;

                .movie__li{
                    display: flex;
                    list-style-type: none;
                    float:left;
                    align-items: center;
                    flex-wrap:wrap;
                    flex-direction: column;
                    justify-content: center;

                    .movie__poster{
                        // position: relative;
                        height: 300px;
                        width: 200px;
                        margin:5px;
                        padding:5px;
                        filter: grayscale(75%);

                        &:hover{
                            transform: scale(1.1);
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }

    footer{

        .socials{
            list-style-type: none;
            color: $hovercolor;

            i{
            padding:2px;
            margin:2px;

                &:hover{
                transform: scale(2);
                transition: 0.8s ease-in-out;
                }
            }

            a:visited{
                color:$textcolor;
            }
        }
    }
}

@media (min-width: 768px) {
    input.searchbar{
        width: 60%;
    }
    nav{
        width: 80%;
    }
}

@media (min-width: 1024px) {
    input.searchbar{
        width: 75%;
    }
    
    nav{
        width: 100%;
    }
    
}